@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

@font-face{
	font-family: BigJohn;
	font-weight: 700;
	src: url('../fonts/BigJohn.otf') format('opentype');
}

@font-face{
	font-family: SlimJoe;
	font-weight: 300;
	src: url('../fonts/SlimJoe.otf') format('opentype');
}

body{
	background: #232830;
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
}

p {
	font-weight: 300;
}

a {
	background-color: #F11E56;
	color: #FFFFFF;
	padding: 10px 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	float: top;
}

a:link {
	text-decoration: none;
}

.btn-portafolio{
	text-align: right;
}

.font-light{
	font-weight: 300;
}

.font-bold{
	font-weight: 700;
}

.margen-top{
	margin-top: 50px;
}

.max-ancho{
	max-width: 150px;
}

.inline-block{
	float: none;
	display: inline-block;
}

.float-right{
	float: right;
}

.align-top{
	vertical-align: top;
}

.padding{
	padding-top: 50px;
}

#logo-navbar{
	background-color: #F11E56;
	color: #FFFFFF;
	font-size: 1em;
	padding: 10px 10px;
	height: auto;
	border-radius: 5px;
	vertical-align: middle;
	margin-top: 5px;
}

#img-perfil {
	margin-top: 20px;
}

#navbar{
	margin-top: 20px;
}

.delay01{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.delay02{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.delay03{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.delay04{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
/*
h1 { 
	font-family: 'Lato', Arial, serif; 
	font-weight: 300; 
}
*/