@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

body{
	font-family: 'Lato', sans-serif;
	padding-top: 50px;
}

div{
	font-weight: 300;
}


div div h2{
	height: 66px;
	text-align: center;
	margin-bottom: 20px;
}

div div img{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}
div div div div h1{
	margin-bottom: 40px;
}

div div div div img{
	width: 30%;
	margin: 0 auto;
	margin-bottom: 20px;
}


footer{
	background: #232830;
	color: #FFFFFF;
	margin-top: 40px;
}

.jumbotron{
	background: #232830;
	color: #FFFFFF;
	padding: 0px 0px;
	padding-bottom: 20px;
}

.jumbotron p{
	margin: 0px;
}

.img-max-ancho{
	width: 20%;
	align: center;
}

#about{
	margin-right: 20px;
}

#navbar-header{
	margin: 0px;
}

#cont-navbar{
	padding: 0px;
	width: 100%
}

#navbar{
	margin: 0px;
}

#logo-navbar{
	background-color: #F11E56;
	color: #FFFFFF;
	height: auto;
	padding: 8px 8px;
	margin-left: 20px;
	border-radius: 5px;
	margin-top: 7px;
}

#map{
	font-size: 20px;
	margin-right: 8px;
}

#nav-button{
	margin-right: 20px;
}